
html {
  padding: 0;
  font-style: Avenir;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.search-section .input-group-addon{
  padding: 0;
  border: 0;
}

.search-section .error-msg {
    color: red;
    padding: 15px;
    font-size: 12px;
}

.detail-section .rated{
  border: 1px solid #e6e6e6;
  border-radius: 2px;  
  margin-right: 5px;
  padding: 2px;
}

.detail-section .movie-title {
    background-color: #262673;
    color: #e6e6e6;
    padding: 10px;
    border-radius: 2px;
}
.detail-section .movie-title-footer{
    color: #cccccc;
    font-weight: 200;
    font-size: 12px;
}

.detail-section .movie-detail {
    background-color: #333;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  margin-top: 5px;
  border-top: 1px solid #e5e5e5;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 480px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
