
html {
  padding: 0;
}

/* Custom page header */
.header {
  
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color: #262673;
}

.search-section .input-group-addon{
  padding: 0;
  border: 0;
}
.search-section .glyphicon{
  font-weight: bolder;
}

.search-section .btn-default{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e6e600, #b3b300); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e6e600, #b3b300); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e6e600, #b3b300); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e6e600, #b3b300); /* Standard syntax */
    border-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.search-section .error-msg {
    color: red;
    padding: 16px;
    font-size: 12px;
}

.detail-section .rated{
  border: 1px solid #e6e6e6;
  border-radius: 2px;  
  margin-right: 5px;
  padding: 2px;
}

.detail-section .movie-title {
    background-color: #262673;
    color: #e6e6e6;
    padding: 10px;
    border-radius: 2px;
}
.detail-section .movie-title-footer{
    color: #cccccc;
    font-weight: 200;
    font-size: 12px;
}

.detail-section .movie-detail {
    background-color: #333;
}

.movie-detail .movie-image{
  margin: 0 auto;
}

.glyphicon{
  top: 2px;
}
.glyphicon-star:before{
  color: yellow;
  margin-right: 5px;
}

.hidden-mobile{
  display: none;
}
.hidden-tablet{
   display: block; 
  }


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 480px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  .detail-section .movie-title {
    padding: 16px;
    font-size: 18px;
  }
  .detail-section .movie-title-footer{
      font-weight: 400;
      font-size: 14px;
  }

  .detail-section .movie-detail {
      background-color: #333;
      font-weight: 200;
  }

  .movie-detail .movie-image{
    margin: 0 0 0 auto;
  }

  .movie-detail .movie-summary{
    color: #f2f2f2;
    padding-left: 15px;
    padding-top: 15px;
  }

  .glyphicon-star:before{
  font-size: 20px;
}
  .glyphicon-star{
  top: 4px;
}

  .hidden-mobile{
    display: block;
  }
  .hidden-tablet{
   display: none; 
  }
  .movie-detail-title {
    font-weight: 800;
}
  .search-section .error-msg {
    font-size: 14px;
}
}
