  <div ng-controller="MainCtrl as mainVm">
    <div class="search-section row">
      <div class="col-lg-12">
        <div class="input-group">
          
          <input type="text" class="form-control" aria-label="type a movie" id="moviename" placeholder="Find Movies" ng-model="expr" tabindex="0">
          <span class="input-group-addon">
            <button class="btn btn-default" ng-click="mainVm.searchMovie(expr)">
              <span class="glyphicon glyphicon-search" aria-hidden="true"  tabindex="0"></span>
            </button>
          </span>
          
        </div><!-- /input-group -->
      </div><!-- /.col-lg-12 -->
      <span class="error-msg"></span>
      
    </div><!-- /.row -->

    <div class="detail-section" ng-hide="!mainVm.response">

      <div class="movie-title">
        <p>
          <span>{{mainVm.title}}</span>
          <span class="pull-right"><span class="glyphicon glyphicon-star" aria-hidden="true"  tabindex="0"></span>{{mainVm.imdbRating}}</span>
        </p>
        <p class="movie-title-footer">
          <span class="rated">{{mainVm.rated}}</span>
          <span>{{mainVm.year}} &middot;</span>
          <span>{{mainVm.genre}} &middot;</span>
          <span>{{mainVm.runtime}}</span>
        </p>
        <p></p>

      </div>
      <div class="movie-detail">
        <!-- other details -->
        <div class="row hidden-mobile">
          <div class="col-xs-6">
            <p class="movie-summary">{{mainVm.plot}}</p>
            <p class="movie-summary"><span class="movie-detail-title">Director:&nbsp;&nbsp;</span>{{mainVm.director}}</p>
            <p class="movie-summary"><span class="movie-detail-title">Actors:&nbsp;&nbsp;</span>{{mainVm.actors}}</p>
          </div>
          <div class="col-xs-6">
            <img src="{{mainVm.poster}}" class="movie-image img-responsive" alt="movie image">
          </div>
        </div>
        <div class="hidden-tablet">
          <img src="{{mainVm.poster}}" class="movie-image img-responsive" alt="movie image">
        </div>
      </div>
    </div>
  </div>